# IDE
.vs/*
.vscode/*
/.vs/*
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Docker
Dockerfile
.dockerignore
/.devcontainer
/.kube

# Git
/.git
/.github
/.ci
README.md

# Packages
/node_modules/
/dist
